
<!-- <h1>{{title}}</h1> --> 
<!-- <ul>
    @for (member of members; track member ) {
        <li>{{member.id}} - {{member.displayName}}</li>
    }
</ul> -->



<div class="card bg-base-100 w-1/2 mx-auto p-10 mt-10 shadow-xl">
    <h1 class="text-3xl text-red-500">{{title()}}</h1>
    <ul class="list">
        @for (member of members(); track member ) {
        <li class="list-row items-center border-b border-black-200 last:border-b-0">
            <img src="/user.png" alt="user avatar" class="size-12 rounded-box">
            <div>
                {{member.displayName}}
            </div>
        </li>
    }
    </ul>
</div>

